@{
    ViewData["Title"] = "Put";
}
<div>
    <form method="post">
        <h1 align = "center">Изменение данных участника</h1>
        <div>
            <div class="blok">Введите Id:</div>
            <div class="blok">
                <input class="inp" type="text" name="Id" value="@ViewBag.Id">
            </div>
            <div class="blok">
                <input class="inp" type="submit" value="Выбрать"/>
            </div>
        </div>
    </form>
</div>