@{
    ViewData["Title"] = "Главная страница";
}

<div>
    <h1 align = "center">Ресурс дял обработки анкет участников мероприятия</h1>
    <div class="blok">
        <p>Выберите в навигаионной панели необходимое действие.</p>
    </div>
</div>
